<div class="flex mb-4">
  <div class="flex-shrink mr-2">
    <%=  gravatar_image_tag(message.user.email, alt: fullname(message.user), class: 'w-12 rounded border border-gray-400') %>
  </div>
  <div class="flex-none">
    <div><span class="mr-2 font-bold"><%= message.user.username %></span><span class='text-xs'><%= full_date_time(message.created_at) %> </span></div>
    <div><%= message.body %></div>
  </div>
</div>
