<div class="max-w-lg overflow-hidden rounded shadow-lg">
  <div class="px-6 py-4">

    <h1>Hangouts</h1>

    <h2>Name</h2>

    <% @hangouts.each do |hangout| %>
      <p>
        <%= link_to hangout.name, hangout_path(hangout) %>
      </p>
    <% end %>
    <p class="mt-5"><%= link_to 'New Hangout', new_hangout_path, class: 'btn btn-default' %></p>


  </div>
</div>
